<%- include('top.ejs') %>
<form action="<%= action %>" method="POST">
  <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome" value="<%= doc.nome %>" />
  </div>
  <div class="form-group">
    <label for="sobrenome">Sobrenome</label>
    <input type="text" class="form-control" id="sobrenome" name="sobrenome" placeholder="Digite seu sobrenome" value="<%= doc.sobrenome %>" />
  </div>
  <div class="form-group">
      <label for="idade">Idade</label>
      <input type="number" class="form-control" id="idade" name="idade" placeholder="Digite sua idade" value="<%= doc.idade %>" />
  </div>
  <div class="form-group">
    <label for="sexo">Sexo</label>
    <input type="text" class="form-control" id="sobrenome" name="sexo" placeholder="Digite seu sexo" value="<%= doc.sexo %>" />
</div>
<div class="form-group">
  <label for="nomeMae">Nome da mãe</label>
  <input type="text" class="form-control" id="nomeMae" name="nomeMae" placeholder="Digite de sua mãe" value="<%= doc.nomeMae %>" />
</div>
<div class="form-group">
  <label for="matricula">Matricula</label>
  <input type="number" class="form-control" id="matricula" name="matricula" placeholder="Digite sua matricula" value="<%= doc.matricula %>" />
</div>
<div class="form-group">
  <label for="turno">Turno</label>
  <input type="text" class="form-control" id="turno" name="turno" placeholder="Digite o turno" value="<%= doc.turno %>" />
</div>
<div class="form-group">
  <label for="endereço">Endereço</label>
  <input type="text" class="form-control" id="endereço" name="endereço" placeholder="Digite seu endereço" value="<%= doc.endereço %>" />
</div>
  <input type="submit" value="Salvar" class="btn btn-primary"/><a href="/" class="btn">Cancelar</a>
</form>
<%- include('bottom.ejs') %>